<!DOCTYPE html>
<html>
  <head>
      <title>Weightable</title>
      
  </head>
  

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="navbar-brand " a href="#">Weightable</a>
        <ul class ="nav pull-right">
          <% 
            if current_user
              #then show current_user's name
            else
              #ask them to log in or sign up
            end
          %>
        </ul>
    </nav>
  <br>
  
  
  <div class = "container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  <div>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>

  </body>
</html>

